.page-content {
  margin: auto;
  width: 90%;

  & > * {
    &:last-child {
      margin-bottom: 10rem;
    }
  }
}

.page-content__actions {
  display: flex;
  flex-direction: row;

  & > * {
    display: flex;
    flex: 1;

    &:last-child {
      justify-content: flex-end;
    }
  }
}

.page-content header > h1 {
  margin: 1rem 0;
  text-align: center;
  text-transform: uppercase;
}

.content {
  & + .content {
    border-top: solid 5px $color__border-default;
    margin-top: 3rem;
    padding-top: 3rem;
  }
}

.center-wrapper {
  text-align: center;
}

.flex-wrapper {
  display: flex;
}

.flex-wrapper > div {
  padding: 1rem;
}

.flex-wrapper > div > p {
  margin: 0;
}

.call-to-action {
  border: solid 2px $color__border-call-to-action;
  border-radius: 5px;
  color: $color__text-call-to-action;
  display: inline-block;
  margin: 2rem;
  padding: .2em .5em;
  text-decoration: none;
}

.admin-button {
  appearance: none;
  background: none;
  border: 0;
  line-height: 1em;
  padding: none;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  font-size: .6em;
  justify-content: flex-end;
  margin-top: 2rem;
  width: 100%;
}

.tag-list > li {
  margin: 0 .2em;
}

.tag-list > li > a {
  background: $color__text-default;
  border-radius: .2rem;
  color: invert($color__text-default);
  padding: .2em .5em;
  text-decoration: none;
}

.link__back {
  font-size: .8em;

  &::before {
    content: '« ';
  }
}

.page-not-found {
  font-size: 1.5em;
  margin-top: 2.5rem;
  text-align: center;
}

.code-header {
  background: darken($color__background_code-block, 5%);
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  display: block;
  font-size: .8em;
  padding: .5em.8em;
}
