body {
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
  background: $color__background_body;
  color: $color__text-default;
  font-family: $font-family__default;
  font-size: 1em;
}

@media (min-width: 50rem) {
  body {
    font-size: 1.5em;
  }
}

a {
  color: $color__text-link;
  opacity: .8;
  text-decoration: none;
  transition: opacity .2s;

  &:hover {
    opacity: 1;
  }
}

p + p {
  margin-top: 1em;
}

pre + * {
  margin-top: 1em;
}

h1 {
  font-family: $font-family__heading;
  text-transform: uppercase;
}

h2 {
  font-weight: bold;
  margin: 1em 0 .5em;
}

figure > img {
  width: 100%;
}

figure > figcaption {
  color: $color__text-light;
  font-size: .8em;
  margin-bottom: .25rem;
}

ol {
  list-style: decimal;
  margin-left: 1em;
}

p + ol {
  margin-top: 1em;
}

[class^='language-'] {
  background: $color__background_code-block;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  color: $color__text_code-block;
  display: block;
  font-family: 'ubuntu-mono', serif;
  font-size: .8em;
  overflow-x: auto;
  padding: .8em;
}

dt,
dd {
  padding: .25em 0;
}

dt {
  clear: left;
  float: left;
  font-weight: bold;
  text-align: left;
  width: 5em;

  &:after {
    content: ':';
  }
}

dd {
  margin: 0 0 0 5em;
}
